[submodule "builder"]
	path = builder
	url = https://github.com/KinChow/builder.git
[submodule "external/lib-loader"]
	path = external/lib-loader
	url = https://github.com/KinChow/lib-loader.git
[submodule "include"]
	path = include
	url = https://github.com/KhronosGroup/OpenCL-Headers.git
